node_modules/
.dist/
dist/
exports/
coverage/
.DS_Store
src/data/db.json
src/data/videos/
src/data/posters/
src/data/csv/
public/assets/backgrounds/
public/assets/logos/
public/assets/products/
*.mp4
*.webm
*.mov
*.avi
*.mkv
*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.zip
